<!DOCTYPE html>
<html>
<head>
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="top-left">
            <h2>Post/Update Workout</h2>
            <form id="workoutForm">
                <label for="user_id">User ID:</label>
                <input type="text" id="user_id" name="user_id" required><br><br>

                <label for="date">Date:</label>
                <input type="datetime-local" id="date" name="date" required><br><br>

                <label for="workout_type">Workout Type:</label>
                <input type="text" id="workout_type" name="workout_type" required><br><br>

                <label for="duration_minutes">Duration (minutes):</label>
                <input type="number" id="duration_minutes" name="duration_minutes" required><br><br>

                <label for="calories_burned">Calories Burned:</label>
                <input type="number" id="calories_burned" name="calories_burned" min="0" max="1500" required><br><br>

                <label for="notes">Notes:</label><br>
                <textarea id="notes" name="notes"></textarea><br><br>

                <button id="workoutForm-submit">Submit</button>
            </form>
        </div>

        <div class="top-right">
            <h2>Workout View</h2>
            <div id="workoutView"></div> 
        </div>

        <div class="bottom-left">
            <h2>Get/Delete Workout</h2>
            <form id="filterForm">
                <label for="filter_user_id">User ID:</label>
                <input type="text" id="filter_user_id" name="filter_user_id"><br><br>

                <label for="filter_workout_type">Workout Type:</label>
                <input type="text" id="filter_workout_type" name="filter_workout_type"><br><br>

                <button type="submit">Filter</button>
                <button type="button" onclick="deleteWorkout()">Delete</button> 
            </form>
        </div>

        <div class="bottom-right">
            <h2>Charts & Graphs</h2>
            <div id="chartView"></div> 
        </div>
    </div>

    <script type="text/javascript" src="/static/scripts/index.js"></script> </body>
</html>